
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: 'Open Sans', sans-serif;
}
:root{
    --bs-border-color: #ced4da;
    --primary-color : #009bff;
    --primary-gray: #586470;
}
.show{
    display: block;
}
.hide{
    display: none;
}
/* -----------------bootstrap overwrite */
.navbar-toggler{
    right: 1rem;
    top: .4rem;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.bs-border-color{
    color: #ced4da;
}
.search-icon-top{
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
    cursor: pointer;
}
.nav-link{
    font-size: .8rem;
}
/* -------------------------- btn-box-------------------- */
.many-box{
    background-color: #001428;
}
.box-menu ,.box-canlander{
    width: 15%;
}
.box-btn, .box-date-day{
    width: 85%;
}
.custom-btn{
    background-color: var(--primary-gray);
    font-size: .8rem;
}
.custom-btn:hover{
    background-color: #0092d0;
}
/* -------------------------------------------icon-styling------------------------- */
.svg-inline--fa{
    font-size: 1.2rem !important;
}
.diffrent-bg{
    background-color: #00466b;
}
/* ------------------------------ calander design--------------------------------- */
.cal-header{
    background-color: #334353;
}
.custom-calander{
    width: 250px;
    left: 0;
}
.weekdays strong{
    width: calc(100% / 7);
    padding: 5px;
}
.date span{
    width: calc(100%/7);
    text-align: center;
    padding: 5px;
}
.date{
    background-color: #001428;
}
.toggle{
    display: none !important;

}
.box-date-day button{
    width: 3rem;
    font-size: .8rem;
}
.today{
    background-color: var(--primary-color);
}
.tomorrow:hover{
    background-color: var(--primary-color);
}
.yesterday:hover{
    background-color: #00466b;
}
.scedule .svg-inline--fa{
    font-size: 1.8rem !important;
}
.teams small{
    font-size: .8rem;
}
.teams a{
    font-size: .7rem;
}
.scedule-table .fubo-img{
    width: 4rem !important;
}
.scedule a:hover{
    background-color: #e7ecf0;
}
/* ---------------------------------- news page ------------------ */
.pagination ul li{
    font-size: .8rem;
}
.news-post a{
    color: var(--primary-color);
}
.news-img{
    width: 13rem;
    height: 13rem;
}
/* .news-post .news-discription{
    font-size: .9rem;
} */
.news-img img{
    object-fit: cover;
}
.contact-form .required{
    font-size: .7rem;
}
.contact-form input:not(input[type="submit"]):focus,.contact-form textarea:focus{
    background-color: white !important;
    box-shadow: none !important;
}
.contact-form input[type="submit"]{
    border-radius: 2rem !important;
}

/* ---------------------list-items----------------- */
.list-items span{
    font-size: .7rem;
}

/*  --------------- live match today----------------- */
.back-btn{
    background-color: var(--primary-color);
    font-size: .8rem;
}
.back-btn-parent button{
    left:0;
}
.back-btn .svg-inline--fa{
    font-size: .7rem !important;
}
.live-match-content .img-left,.live-match-content .img-right{
    width: 100px;
}
.starting-time-circle{
    width: 70px;
    height: 70px;
    border-color: aqua !important;
}

.league-and-team a{
    color: var(--primary-gray);
}
.league-and-team ul li:first-child::after{
    content: ".";
    position: absolute;
    transform: translateY(-45%);
    font-size: 2rem;
    left: 120%;
}
.team-brand .svg-inline--fa{
    font-size: .7rem !important;
}
.team-brand p,
.team-brand a,
.team-brand h6
{
    font-size: .9rem;
}
.team-brand strong{
    font-size: .7rem;
}
.team-brand a:hover h6{
    text-decoration: underline;
}
.discription time, .discription span{
    color: var(--primary-gray);
}














/* for mobile */

@media screen and (max-width: 575px) {
    .box-menu ,.box-canlander{
        width: 20%;
    }
    .box-btn, .box-date-day{
        width: 80%;
    }
    .live-team-name{
        font-size: 60%;
    }
    /* .live-match-content .img-left,.live-match-content .img-right{
        width: 60%;
    } */
    .starting-time-circle{
        font-size: 80%;
    }
}


@media screen and (max-width: 575px) {
    
    .live-team-name{
        font-size: 80%;
    }
}


























@media screen and (min-width: 992px) {
    .container{
        padding-right: 7rem !important;
        padding-left: 7rem !important;
        margin: auto !important;
    }
}



